.bg-darkcyan {
  background-color: $dark-cyan;
}

.bg-persimmon {
  background-color: $persimmon;
}

.bg-goldenrod {
  background-color: $goldenrod;
}

.bg-saddlebrown {
  background-color: $saddle-brown;
}

.bg-palegoldenrod {
  background-color: $pale-goldenrod;
}
