//COLOR
  ///Matices
    $carbon-black: #171717;
    $thibetan-gray: #393939;
    $aluminum-gray: #A7A7A7;
    $plate-gray: #E3E3E3;
    $white: #FFFFFF;

  ///Color 1
    $persimmon: #CD5A18;
    $persimmon-b: #db7640;
    $persimmon-c: #e79165;

  ///Color 2
    $dark-cyan: #299F95;
    $dark-cyan-b: #59afa6;
    $dark-cyan-c: #7dbfb7;

  ///Color 3
    $goldenrod: #E7AD11;
    $goldenrod-b: #efba48;
    $goldenrod-c: #f6c76f;

  ///Color 4
    $pale-goldenrod: #F7E8A9;
    $pale-goldenrod-b: #f9ecb7;
    $pale-goldenrod-c: #fbf0c6;

  ///Color 5
    $saddle-brown: #713F08;
    $saddle-brown-b: #8b5c30;
    $saddle-brown-c: #a57a56;


//FONTS
  ///Font family
    $lato: 'Lato', sans-serif;

  ///Font weight
    $wlight: 300;
    $regular: 400;
    $bold: 700;

  ///Font size
    $xxx-large:2.488rem;
    $xx-large:2.074rem;
    $x-large:1.728rem;
    $large:1.44rem;
    $medium:1.2rem;
    $normal:1rem;
    $small:0.833rem;
    $x-small:0.694rem;
