//COLOR
  ///Matices
    $carbon-black: #171717;
    $thibetan-gray: #393939;
    $aluminum-gray: #A7A7A7;
    $plate-gray: #E3E3E3;
    $white: #FFFFFF;

  ///Color 1
    $persimmon: #CD5A18;
    $persimmon-b: #db7640;
    $persimmon-c: #e79165;

  ///Color 2
    $dark-cyan: #00A096;
    $dark-cyan-b: #4eb0a7;
    $dark-cyan-c: #77c0b8;

  ///Color 3
    $goldenrod: #FAAF00;
    $goldenrod-b: #ffbc45;
    $goldenrod-c: #ffc96d;

  ///Color 4
    $pale-goldenrod: #FDE9A7;
    $pale-goldenrod-b: #feedb6;
    $pale-goldenrod-c: #fff0c4;

  ///Color 5
    $saddle-brown: #713F08;
    $saddle-brown-b: #8b5c30;
    $saddle-brown-c: #a57a56;


//FONTS
  ///Font family
    $muli: 'Muli', sans-serif;

  ///Font weight
    $wlight: 300;
    $regular: 400;
    $bold: 800;

  ///Font size
    $xxx-large:2.488rem;
    $xx-large:2.074rem;
    $x-large:1.728rem;
    $large:1.44rem;
    $medium:1.2rem;
    $normal:1rem;
    $small:0.833rem;
    $x-small:0.694rem;
