.hero {
  height: 82vh;
  background-image: url('../../assets/images/principal-strada.jpg');
  background-position: center;
  background-repeat: repeat;
  border-bottom: 2px solid $thibetan-gray;
  box-shadow: 1px 2px 5px $aluminum-gray;

  &__description {
    max-width: 900px;
    text-shadow: 5px 5px 4px $carbon-black;
    position: absolute;
    bottom: 0;
    span {
      background-color: rgba(23, 23, 23, 0.90);
      font-size: $x-large;
      font-family: $muli;
      font-weight: $bold;
      padding: 0.25rem;
    }
  }
  &__color {
    background: linear-gradient(rgba(90,90,90,.015),rgba(0,0,0,.5));
    height: 100%;
  }

}
