.SectionNews {
  hr {
    border: 1px solid $persimmon-c;
    margin: 1.5rem 0;
  }

  &__social {
    i {
      color: $dark-cyan;
      &:hover {
        color: $dark-cyan-b;
      }
    }
  }
}

.NewsArticle {
  hr {
    border: 1px solid $persimmon-c;
    margin: 1.5rem 0;
  }

  &__info {
    color: $thibetan-gray;
    font-size: $small;
    font-weight: $wlight;

  }
  &__content {
    p {
      margin-bottom: 1.5rem;
    }
    list-style-position: inside;
    line-height: 1.7;
  }
}
